<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <!--<ul>
        <f:for each="{glossaryEntries}" as="entry">
            <li><f:link.action action="show" arguments="{glossaryEntry: entry}">{entry.term}</f:link.action></li>
        </f:for>
    </ul>-->
    <dl>
        <div>
            <dt>Sample term</dt>
            <dd>TODO with more text. With more text. With more text. With more text. With more text. With more text. With more text. With more text. With more text.</dd>
        </div>
        <div>
            <dt>Another sample term</dt>
            <dd>TODO with more text. With more text. With more text. With more text. With more text. With more text. With more text. With more text. With more text. Slightly longer, but not too much.</dd>
        </div>
    </dl>
    <!--<div class="mdlr-empty">
        <svg width="160" height="160" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <use href="#illustration-search"/>
        </svg>
        <p><f:translate key="templates.generic.results.empty" extensionName="chf_base"/></p>
    </div>-->
</html>